@using Hospital_System.Models;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signinManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager

@if (_signinManager.IsSignedIn(User))
    {
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @(User.FindFirst("UserFirstName").Value )
        </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-controller="Account" asp-action="Profile">Profile</a>
        <div class="dropdown-divider"></div>
        <a class="btn btn-outline-warning dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>

    </div>

    
</li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-success" asp-controller="Main" asp-action="Register">Register</a>
        <a class="btn btn-outline-primary" asp-controller="Main" asp-action="DoctorRegister">DoctorRegister</a>
            <a class="btn btn-outline-primary" asp-controller="Main" asp-action="Login">Login</a>

        </li>
    }
