

body {
    padding-top: 70px;
    background-image: url('..//Images/Tokyo1.jpg');
}


 header nav {
    background-color: rgba(0, 0, 0, 0.6);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255,255,255,0.7);
    font-weight: bold;
}
.navbar-nav .nav-link:hover:first-child {
    color: red;
    font-weight: bold;
}

.nav-item .dropdown-menu  {
 padding:0;

}

.nav-item .dropdown-menu .dropdown-item:hover {
    background-color: green;
    font-weight:bold;
}
