
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1>    <span>Seek</span>&nbsp;<span class="word1">Knowledge</span></h1>
</div>


<div class="Hero" id="Services">
    <h1>our Features</h1>

    <div class="box1">
        <img src="~/Images/book1.png" />
        <h2>Publish your own Book</h2>
        <p>you can add a book that you have created and make others explore it</p>
        <a href="#">More</a>
    </div>
    <div class="box2">
        <img src="~/Images/book2.png" />
        <h2>Easy book Sharing</h2>
        <p>you can share the link of your work inside the website to others and they can access it fast and easy</p>
        <a href="#">More</a>
    </div>
    <div class="box3">
        <img src="~/Images/book3.png" />
        <h2>Marketing and Profit</h2>
        <p>if someone is intrested in your book and wants to buy it , our website helps you with that easily </p>
        <a href="#">More</a>
    </div>
    <div class="box4">
        <img src="~/Images/book4.png" />
        <h2>CopyRight Grantee</h2>
        <p>all your published books will be secured and any copy that is sold will have a copyright Grantee</p>
        <a href="#">More</a>
    </div>
</div>


<div class="contact" id="Contact">

    <div class="contact-box1">
        <h1>Contact us</h1>
        <div class="child1">
            <img src="~/Images/email2.png" />
            <h2>Email</h2>
            <p>godgold11@gmail.com</p>
        </div>

        <div class="child2">
            <img src="~/Images/phone2.png" />
            <h2>Phone</h2>
            <p>+962796153883</p>
        </div>
    </div>
